server:
  port: 8086

eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka

spring:
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: hls
    password: hls

cron:
  order-cancel:
    interval-ms: 60000
