spring:
  r2dbc:
    url: r2dbc:postgresql://theatre-db:5432/thetre_db
    username: postgres
    password: postgres
  flyway:
    url: jdbc:postgresql://theatre-db:5432/thetre_db
    user: postgres
    password: postgres
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    validate-on-migrate: true
  cloud:
    openfeign:
      circuitbreaker:
        enabled: true
  jackson:
    serialization:
      write-dates-as-timestamps: false

server:
  port: 8082

logging:
  level:
    org.springframework: INFO

eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka
